# Dependencies
node_modules/
frontend/node_modules/

# Build outputs
frontend/dist/
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report/
/allure-results/
/test-failure-explanations/failure-explanations.html
/test-failure-explanations/failure-explanations.json
/test-failure-explanations/assets
/test-failure-explanations/


# IDE

.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Coverage
coverage/

#powerpoint
*.pptx
*.pptm
*.ppt